body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.main-container{
    margin: 0px 10px;
}


.section-container {
    max-width: 500px;
    margin: 120px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 420px;
    
}

.form{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

label {
    display: block;
    margin: 15px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#calculate-btn {
    width: 40%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px auto;
    font-size: 16px;
}

#calculate-btn:hover {
    background-color: #218838;
}

.result {
    text-align: center;
    font-size: 1em;
}

.title{
    text-align: center;
}


.social{
 position:relative;
 top: 50px;
}

.social a {
    padding: 20px 10px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    
}



@media screen and (max-width: 580px ) {

    #calculate-btn{
        width: 100%;
    }
    
}

@media screen and (max-width: 344px ) {

    .title{
        font-size:18px ;
    }
}